/*
 
 global config vars

*/

// mqtt setup
#define LAMP_NAME                       "lamp1"
#define ROOM                            "livingroom"

// neopixel setup
const int pin = 2;
const int n_pixels = 150;

// wifi setup
const char* ssid = "fancywifissid";
const char* password = "supersecretpassword";
const char* mqtt_server = "broker.home"; // ip or hostname

